
.heading-bar{
    display: flex;
    justify-content: space-between;
    padding:10px;
    border: 1px solid grey;
    background-color:aquamarine;
    
}   
.logo-image{

    width: 8%;
    height: 8%;
    
}

.nav-menu{
    display: flex;  
    
    gap:40px;
    justify-content: space-between;
    list-style-type: none;
}


.restaurant-card{
    display:flex;
    flex-wrap: wrap;
    width: 250px;  
   

}
.restaurant-card:hover{
    border: 1px solid goldenrod;
    cursor: pointer;

}
.card-image img{
    width: 100%;
    height: 100%;
   
    
    
   
}
.food-details li{
    list-style: none;   
}
.filter-btn{
    display:flex;
    justify-content: center;
    margin:10px;
    cursor: pointer;

}
.rest-cards {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    gap:20px;
}

.shimmer-container{
    display:flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
}
.shimmerbox{
    background-color:#f4f4f4;
    border:1px dotted white;
    height:300px;
    width:250px;
    margin-top: 30px;
    display:flex;
    justify-content: center;
    align-items: center;
}


.footer{
    background-color: mediumaquamarine;
    display:flex;
    justify-content: space-evenly;
    align-items: center;
    height: 80px;
    margin-top: 20px;
    border: 1px solid grey;
    
}

